body {
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-box {
    display: flex;
    flex-flow: row nowrap;
    background: #1F2937;
    justify-content: center;
}

.main-box-size {
    height: 180px;
    width: 50em;
}

.logo {
    size: 24px;
    color: #F9FAF8;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    size: 18px;
    color: #E5E7EB;
}

.main-text {
    size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

p {
    size: 18px;
    color: #E5E7EB;  
}

button {
    color: #FFF;
    background-color: #3882F6;
    font-weight: bold;
    border: none; 
    padding: 10px 10px; 
    border-radius: 4px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6d747d;
    color: #FFF;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

