body{
    background-color: #1F2937;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8; 
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
